.Profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; 
    color:white; 
    
  }
  
  .Profile form {
      background-color: white;
      color:black;
      width: 30%;
      padding: 20px;
      border: 5px rgb(10, 8, 8) block;
      border-radius: 7px;
      font-weight: bold;
  }
  