/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
} */



/* main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
  height: calc(100vh - 56px); 
  overflow: scroll;
  color: white;
} */
#root{
  width: 100vw;
  display: flex;
  flex-direction: column;
  
}
